// variables
$color-principal: #dcbd94;
$color-secundario: #bc844c;
$color-terciario: #d1c2af;
$color-4: #edcb9d;
$color-5: #614238;

$font-logo: 'Exo 2', sans-serif;
$font-subtitulo: 'IBM Plex Mono', monospace;
$font-subtitulo2: 'Inconsolata', monospace;
$font-subtitulo3: 'Teko', sans-serif;

$width-logo: 45px;
$width-articulos: 300px;

$filter1: drop-shadow(4px 6px 12px gray);

* {
    margin: 0px;
    padding: 0px;
}
a:hover { 
    font-weight: bolder; font-size: 17px;
    color: $color-secundario;
}

body {
    background-color: $color-principal;
    ul {
        list-style: none;
    }
}
.fixed-top {
    background-color: $color-principal;
}

.logo1 {
    font-size: 50px;
    padding-right: 20px;
    padding-bottom: 0px;
    font-family:$font-logo ;
    color: $color-4;
}

.logo2 {
    list-style: none;
    text-decoration: none;
}

.nav_estilo {
    background-color: $color-secundario;
}

.nav_a {
    color: $color-principal !important;
}

.subtitulo1 {
    margin-top: 90px;
    font-size: 30px;
    background-color: $color-principal;
    text-align: center;
    font-family: $font-subtitulo;
}

h2 {
        font-size: 20px;
        padding: 20px;
        margin: 0px 00px 50px 0px;
        background-color: $color-secundario;
        color: $color-4;
}

.subtitulo2 {
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    background-color: $color-principal;
    text-align: center;
    font-family: $font-subtitulo;
    p {
        padding: 20px;
        margin: 20px;
        background-color: $color-secundario;
        border-radius: 20px;
    }
}

.subtitulo3 {
    font-size: 35px;
}


.productos_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 20px;
    background-color: $color-principal;
    padding-bottom: 60px;
    padding-top: 10px;
}

.estilo_producto {
    filter: $filter1;
    width: 300px;
    margin: 10px;
}

.precios_1 {
    display: flex;
    justify-content: space-between;
    color: $color-5;
    text-decoration: none;
    font-family: $font-subtitulo;
    margin: 10px;
}

.estilo_li {
    list-style: none;
}

.contacto {
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;
    width: 60%;
    color: $color-5;
}
.form-control {
    background-color: $color-terciario;
}

.form-select {
    background-color: $color-terciario;
}

.btn-dark {
    color: $color-secundario;
    background-color: $color-5;
    border: 0px;
}

.tamaño_accesorios {
    width: $width-logo;
}

.oferta {
    width: 20%;
}

.footer_flex  {
    background-color: $color-secundario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
}

.footer_estilo_right {
    width: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin: 7px;
}


.footer_estilo_left {
    width: $width-logo;
    padding-top: 5px;
    padding-bottom: 20px;
}

.submit {
    margin-bottom: 50px;
}

.portada1 {
    margin-top: 60px;
}
